<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.inkisly"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TrackBrowser"
        	android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/track"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".ArtistBrowser"
        	android:screenOrientation="portrait" />
        
        <activity android:name=".AlbumBrowser"
        	android:screenOrientation="portrait" />
        
        <activity android:name=".PlaylistBrowser"
        	android:screenOrientation="portrait" />
        
        <activity android:name=".GenreBrowser"
        	android:screenOrientation="portrait" />
        
        <activity android:name=".FileBrowser"
        	android:screenOrientation="portrait" />
        
        <activity android:name=".CoverFlowExample"
        	android:screenOrientation="landscape" />

    </application>
</manifest>